body {
  background: url('../../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100px;
  margin-top: 13vh;
}

.App-header h2{
  letter-spacing: 2px;
  color: #fff;
}


.App-intro {
  letter-spacing: 2px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}