/* Fontface */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v4/HUuNgGR31mqIHE6zs0BlBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v4/57TQ-anwthzkETEIO4jESAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* All global CSS chunks are here */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #F7F6F6;
  -webkit-font-smoothing: antialiased;
}
/* BUTTONS */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 2pt;
  -webkit-transition: .13s;
  -o-transition: .13s;
  transition: .13s;
  box-sizing: border-box;
}
.button.dark:hover {
  background-color: rgba(0,0,0, 0.7);
}
.button.orange:hover {
  background-color: rgba(230, 151, 2, 0.7);
}
.button:active, .button:focus {
  outline: none;
}
.button.dark:active {
  background-color: #000;
}
.button.orange:active {
  background-color: #E69702;
}
.btn-icon {
  margin-right: 10px;
}
.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* COLORS */
.dark {
  background-color: #000;
  border-bottom: 4px solid #000;
}
.orange {
  background-color: #E69702;
  border-bottom: 4px solid #E69702;
}

/* LINKS */
a {
  text-decoration: none;
  font-weight: bold;
  color: #E69702;
}
a:hover {
  font-weight: bolder;
  opacity: 0.9;
}
