/* BURGER MENU*/
/* Position and sizing of burger button */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 20px;
  left: 36px;
  top: 36px;
  overflow: hidden;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
  height: 2px!important
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* General sidebar styles */
.bm-menu {
  background: #0E1318;
  padding: 2.5em 0em 0;
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 0.8em;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.1);
}
/* Styling of menu links */
.bm-menu a {
  font-family: 'Poppins';
  font-size: 1.2em;
  padding-top: 5px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  padding-left: 1.5em;
  padding-bottom: .5em;
  padding-top: .5em;
  border-bottom: 1px #181D22 solid;
  -webkit-transition: .13s;
  -o-transition: .13s;
  transition: .13s;
}
.bm-menu a:first-child {
  border-top: 1px #181D22 solid;
}
.bm-menu a:hover,
.bm-menu a:focus {
  color: #E69702;
  background-color: #181D22;
}
